* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* font-family: "Rubik", sans-serif; */
  /* line-height: 1;
  font-weight: 400; */
  color: #ffffff;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.header {
  padding: 1.2rem;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header ul {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
  list-style: none;
}

.header ul li {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 2.4rem 0;
}

.header ul li a {
  text-decoration: none;
  color: #212832;
}

/* Hero Module */

.pv__100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero__module h1 {
  color: #181e4b;
  font-size: 8.4rem;
}

.hero__module .subtitle {
  color: #df6951;
  text-transform: uppercase;
}

.hero__module p {
  color: #5e6282;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
}

.hero__module .btn-wrapper {
  margin-top: 3rem;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 1.6rem;
}

.hero__module .btn {
  padding: 12px 10px;
}

.btn-wrapper .btn--yellow {
  background-color: #f1a501;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 8px;
}

/* services section */

.subtitle {
  color: #5e6282;
  text-transform: uppercase;
}

.services h2 {
  color: #14183e;
  font-size: 4.8rem;
  font-weight: bold;
}

.services .category__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.2rem 4.6rem;
}

.services .category__block h6 {
  color: #1e1d4c;
  font-size: 2rem;
}
.services .category__block p {
  color: #5e6282;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
}
